html {
  font-family: "Source Serif Pro", serif;
}

.background {
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  overflow: scroll;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
}

.title {
  position: absolute;
  top: 10rem;
  left: 9rem;
  z-index: 1;
  font-size: 5rem;
  color: white;
  text-align: center;

  font-family: "Martel", serif;
}

.title hr {
  background: white;
  border: none;
  height: 0.2rem;
  margin: 0 4rem;
}

.title p {
  margin: 0;
}

.message {
  margin: 25% 9% 0;
  width: 30%;
  text-align: center;
  display: inline-block;
  color: #312222;
  font-size: 24pt;
  line-height: 40pt;
}
